.App-userInput__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0000ec;
}

.App-userInput {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  border: 1px solid #222;
  margin: 30px;
}

.App-userInput__input {
  padding: 4px;
  width: 200px;
  font-size: 18px;
}
